header,
 {
	height: 100px;
	background-color: navy;
	color: rgb(0,0,0);
	text-align: center;
}

section {
	min-height: 600px;
}

.mainFooter {
	height: 100px;
	background-color: green;
}
#dom {
	width: 500px;
}

.hero .contentZone ul li { 
	color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia,
}