header {
	height: 200px;
	border: 10px solid rgb(0, 255, 0.3);
	border-top: 10px dashed purple;
	border-bottom: 10px dotted purple;
	background-color: rgb(0, 255, 0.3);
	background-image: url('../img/kity.jpg'); 
	background-size: cover;
	background-repeat: repeat-x;
	background-position: center center;
}
section {
	min-height: 600px;
}

.mainFooter {
	height: 100px;
	background-color: green;
}

#dom {
	width: 500px;
}

.hero .contentZone ul li { 
	color: red;
}

h1 {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 40px;
	font-weight: 100px;
	font-size: normal;
}

a {
	text-decoration: underline;
	color: #000080;
}
p {
	width: 300px;
	text-align: center;
	text-transform: lowercase;
	line-height: 300px;
	letter-spacing: 2px;
}